<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender"> 
    	<layout class="org.apache.log4j.PatternLayout"> 
            <param name="ConversionPattern" value="[%t] %d{DATE} %5p %c - %m%n"/>
        </layout>
    </appender>

  <appender name="RollingFileAppender" class="org.apache.log4j.RollingFileAppender"> 
    <param name="file" value="cloud-foundry-ext.log"/>
    <param name="MaxFileSize" value="5000KB"/>
    <param name="MaxBackupIndex" value="10"/>
    <layout class="org.apache.log4j.PatternLayout"> 
            <param name="ConversionPattern" value="[%t] %d{DATE} %5p %c - %m%n"/>
    </layout> 
  </appender> 
  
  <logger name="com.appdynamics.extensions.cloudfoundry" additivity="false">
	<level value="debug"/>
	<appender-ref ref="RollingFileAppender"/>
  </logger>

</log4j:configuration>
